<div class="container">
  <div>
    <%= attachment_image_tag @customer, :bg_image, :fill, 200, 200, fallback:"no_bg_image.jpg", size: '600x200'%>
  </div>
  <div>
    <%= attachment_image_tag @customer, :profile_image, :fill, 200, 200, fallback: "no-image-icon.jpg", size: '100x100'%>
    <%= @customer.name %>
    <%= @customer.profile %>
    フォロワー数
    <%= link_to customer_followers_path(@customer) do %>
      <%= @customer.followers.count %>
    <% end %>
    フォロー数
    <%= link_to customer_followings_path(@customer) do %>
      <%= @customer.followings.count %>
    <% end %>

    <% if customer_signed_in? %>
      <% if current_customer == @customer %>
        <%= link_to "プロフィール編集", edit_my_page_path(@customer), class: "btn btn-primary" %>
      <% else %>
        <% if current_customer.following?(@customer) %>
          <%= link_to "フォロー外す", customer_relationships_path(@customer.id), method: :delete, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "フォローする", customer_relationships_path(@customer.id), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <h2>投稿レシピ</h2>
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe) do %>
        <%= attachment_image_tag recipe, :image, :fill, 200, 200, fallback: "no-image-icon.jpg", size: '100x100'%>
        <%= recipe.title %>
      <% end %>
    <% end %>
  </div>



</div>
