<div class="container-fluid ml-3 mr-3">
  <div class="row align-self-center">
    <div class="col-md-2">
      <div class="item-categories">
        <h2>
          カテゴリー一覧
        </h2>
          カテゴリーから探す
        <div id="tree_menu">
          <ul class="categoryTree">
            <% @parents.each do |parent| %>
              <li class="category_parent">
                <%= link_to search_category_recipes_path(parent) do %>
                  <input type="button" value="<%= parent.name %>" name="<%= parent.id %>" class="parent_btn">
                <% end %>
              </li>
            <% end %>
          </ul>
          <ul class="categoryTree-child">
          </ul>
          <ul class="categoryTree-grandchild">
          </ul>
        </div>
      </div>
    </div>

      <div class="col-md-8 mb-5">

        <div class="col mb-5">
          <div class="row mt-3 mb-3 justify-content-center">
            <div class="border-top border-bottom border-secondary border-secondary text-center" style="width: 60%;">
              <h5 class="mt-2">評価が高いレシピ</h5>
            </div>
          </div>
          <div class="row justify-content-start">
            <% @reports.each do |report| %>
              <div class="col-md-3">
                <%= attachment_image_tag report.recipe, :image, fallback:"no_bg_image.jpg", class: "img-fluid recipe-img" %>
                <%= link_to recipe_path(report.recipe) do %>
                  <div><strong><%= report.recipe.title %></strong></div>
                <% end %>
                <span id="star-rate-average_<%= report.recipe.id %>"></span>
                (<%= report.evaluation_avg.round(1) %>点)
                  <script>
                    $('#star-rate-average_<%= report.recipe.id %>').empty();
                    $('#star-rate-average_<%= report.recipe.id %>').raty({
                      size: 36,
                      starOff: "<%= asset_path('star-off.png') %>",
                      starOn: "<%= asset_path('star-on.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= report.evaluation_avg.round(1) %>,
                    });
                  </script>
                </div>
            <% end %>
          </div>
        </div>



        <div class="col mb-5">
          <div class="row mt-3 mb-3 justify-content-center">
            <div class="border-top border-bottom border-secondary text-center" style="width: 60%;">
              <h5 class="mt-2">新着レシピ</h5>
            </div>
          </div>
          <div class="row justify-content-start">
            <% @recipes.each do |recipe| %>
              <div class="col-md-3">
                <div><%= attachment_image_tag recipe, :image, fallback:"no_bg_image.jpg", class: "img-fluid recipe-img" %></div>
                <%= link_to recipe_path(recipe) do %>
                  <div><strong><%= recipe.title %></strong></div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>


        <div class="col mb-5">
          <div class="row mt-3 mb-3 justify-content-center">
            <div class="border-top border-bottom border-secondary text-center" style="width: 60%;">
              <h5 class="mt-2">注目のレシピ</h5>
            </div>
          </div>
          <div class="row justify-content-start">
            <%  @recipe_pvs.each do |recipe| %>
              <div class="col-md-3">
                <div><%= attachment_image_tag recipe, :image, fallback:"no_bg_image.jpg", class: "img-fluid recipe-img" %></div>
                <%= link_to recipe_path(recipe) do %>
                  <div><strong><%= recipe.title %></strong></div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col">
          <div class="mt-3 mb-3">
            <h2>低カロリーレシピ</h2>
          </div>
          <div class="row justify-content-start">
            <%#  @resipe_calories.each do |recipe| %>
              <div class="col-md-3">
                <div><%#= attachment_image_tag recipe, :image, fallback:"no_bg_image.jpg", class: "img-fluid recipe-img" %></div>
                <%#= link_to recipe_path(recipe) do %>
                  <div><%#= recipe.title %></div>
                <%# end %>
                <div><%#= recipe.comment %></div>
              </div>
            <%# end %>
          </div>
        </div>

      </div>

  </div>
</div>