<div class="container">
      <h5 class="text-dark bg-light py-4 mt-5 pl-2">レシピ投稿</h5>
        <%= form_with model: recipe, local:true do |f| %>
          <div class="row">
            <div class="col-md-12 col-sm-10 mx-2 mx-sm-auto text-center rounded px-0 align-self-center">
              <div class="row form-body p-4">
                <div class="col-md-5 mb-3">
                  <%#div class="mb-3"><img id="preview" style="width:40%;"></div>%>
                   <%= f.attachment_field  :image, class: 'img_field', style: 'display:none;' %>
                   <%= attachment_image_tag @recipe, :image, fallback: 'noimage.png', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>

                </div>
                <div class="col input-group flex-column">
                  <div class="input-group-prepend"></div>
                  <strong><%= f.label :title, "レシピタイトル", class: "d-flex justify-content-start" %></strong>
                  <%= f.text_field :title, placeholder:"フライパンとめんつゆで作る！簡単親子丼", class: "form-control mb-3", style:"width: 65%;" %>
                  <div class="input-group-prepend"></div>
                  <strong><%= f.label :time, "調理時間", class: "d-flex justify-content-start" %></strong>
                  <%= f.text_field :time, placeholder:"30分", style:"width: 20%;", class: "form-control mb-3" %>
                  <div class="input-group-prepend"></div>
                  <strong><%= f.label :comment, "レシピコメント", class: "d-flex justify-content-start" %></strong>
                  <%= f.text_area :comment, placeholder:"とろとろ卵の絶品親子丼です。卵は２回に分けて入れるのがポインです♪", style:"width: 100%; height: 100px;", class: "form-control"  %>
                  <%= f.hidden_field :customer_id, :value => current_customer.id %>
              　</div>
              </div>
            </div>
          </div>

          <div class="row mb-5 material_detail">
            <div class="col-md-12 col-sm-10 mx-2 mx-sm-auto rounded px-0 align-self-center">
              <h2>材料</h2>
              <div class="col-md-5 ml-6 d-flex align-items-center mb-4"><%= f.text_field :people, class: "form-control", placeholder:"例）2", style:"width: 30%;" %>人分</div>
              <%= f.fields_for :material_details do |t| %>
                <form method="post" action="confirm">
                  <div class="row mx-auto form-block" id="form_block[0]">
                    <div class="col-md-5 ml-6 pb-3"><%= f.text_field :name, class: "form-control", placeholder: "例）玉ねぎ" %></div>
                    <div class="col-md-5 ml-6"><%= f.text_field :amount, class: "form-control", placeholder: "例）1個" %></div>
                    <div class="col-md-1 px-0 w-auto">

                    </div>
                  </div>
                    <div class="form-block", id="form_add">
                      <span class="add" title="Add">+</span>
                    </div>
                </form>
              <% end %>

          </div>

          <div class="row mb-5 explanation">
            <div class="col-md-12 col-sm-10 mx-2 mx-sm-auto rounded px-0 align-self-center">
              <h2>作り方</h2>
              <%= f.fields_for :explanations do |t| %>

              <% end %>

          </div>
          <div class="row justify-content-center"><%= f.submit "レシピ投稿", class: "btn btn-success justify-content-center" %></div>
        <% end %>
</div>

