<div class="nested-fields">
  <div class="row">
    <div class="col-md-5 col-lg-5 col-sm-10 col-2 ml-3 pb-3">
      <strong class="yokonarabi">材料名</strong><p class="mb-0 mandatory text-center yokonarabi">必須</p>
      <%= f.collection_select :material_detail_id, MaterialDetail.all, :id, :name, {}, {class: "form-control test-select2"}  %>
    </div>
    <div class="col-md-2 ml-5 mb-3">
      <strong class="yokonarabi">量</strong><p class="mb-0 mandatory text-center yokonarabi">必須</p>
      <%= f.text_field :amount, class: "form-control", placeholder: "例）おおさじ２" %>
    </div>
    <div class="col-md-3 ml-6 mb-3">
      <strong class="yokonarabi">目安量(g)</strong><p class="mb-0 mandatory-num text-center yokonarabi">必須 ※半角</p>
      <%= f.text_field :rough, class: "form-control", placeholder: "100" %>
    </div>
    <div class="col-md-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block mt-4" %>
    </div>
  </div>
</div>

<div class="material_detail">
    <%= f.fields_for :material_details do |t| %>
      <%= render 'material_detail_fields', f: t %>
    <% end %>
</div>

<script>
  $(function() {
    $('.test-select2').select2({
      language: "ja" //日本語化
    });
  })
</script>