<div class="col-md-6 mb-5 pr-0 pl-0">
  <%= link_to recipe_path(recipe) do %>
    <div class="text-center">
      <div class="title-font-color">
        <strong class="midashi"><%= recipe.title.truncate(14) %></strong>
      </div>
    </div>
  <% end %>
  <div class="date-pa">
    <div class="date-font"><%= recipe.created_at.strftime('%Y/%m/%d  %H:%M:%S') %></div>
  </div>
  <%= link_to recipe_path(recipe) do %>
    <%= attachment_image_tag recipe, :image, fallback:"no_bg_image.jpg", class: "recipe-img-create img-fluid rounded center-img" %>
  <% end %>
</div>


