<div class="col-lg-3 col-md-7">
  <%= link_to Refile.attachment_url(recipe, :image), 'data-lightbox':"recipe" do %>
    <%= attachment_image_tag recipe, :image, :fill, 200, 200, class: "recipe-show-image rounded-start" %>
  <% end %>
</div>
<div class="col-md-5 detail-box">
  <div class="">
    <div class=" border-bottom recipe-moji">
      <%= link_to my_page_path(recipe.customer) do %>
        <%= attachment_image_tag recipe.customer, :profile_image, fallback:"no-image-icon.jpg", class: "img-fluid rounded-circle",size: '50x50' %>
        <%= recipe.customer.name %>
      <% end %>
    </div>
    <p class="comment-wrap recipe-moji"><%= recipe.comment %></p>
  </div>
  <div class="">
    <div class="" >
      <%= link_to recipe_reports_path(recipe) do %>
        <div class="bg-light pt-2 pb-2 text-center midashi">みんなが作った数<%= recipe.reports.count %>件</div>
      <% end %>
    </div>
    <div>
      <div class="mt-2 text-center">
        <%= link_to new_recipe_report_path(recipe), class: "recipe-moji" do %>
          <div class="icon"><i class="far fa-comment-alt fa-3x icon mr-2"></i>作ったreportを書く</div>
        <% end %>
      </div>
    </div>
    <div class="mt-5">
      <% if customer_signed_in? %>
        <% if current_customer.id == recipe.customer.id %>
          <div class="mr-2"><%= link_to "レシピ編集", edit_recipe_path(recipe), class: "recipe-moji" %></div>
          <div><%= link_to "レシピ削除", recipe_path(recipe), method: :delete, "data-confirm" => "レシピを削除しますか？", class: "recipe-moji" %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
