<div class="recipe-post">
<%= form_with model: @recipe, local:true do |f| %>
<div>
  プロフィール画像
  <%= f.attachment_field :image, class:"form-control.file" %>
</div>
<div>
  料理名
  <%= f.text_field :title %>
  調理時間
  <%= f.text_field :time %>
  コメント
  <%= f.text_area :comment %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
</div>


<div class="explanation">
  <div class="mx-auto">
<%= f.fields_for :explanations do |t| %>

  <%= render 'explanation_fields', f: t %>
<% end %>
</div>

      <div id="detail-association-insertion-point"></div>

      <div class="col-10 mx-auto mt-2">
        <%= link_to_add_association "+フォームを追加", f, :explanations,
        class: "add_fields",
        id: 'add-btn',
        data: {
        association_insertion_node: '#detail-association-insertion-point',
        association_insertion_method: 'after'
        }%>
      </div>
    </div>


<%= f.submit %>
<% end %>
</div>