<div class="container pt-3 mb-5">
  <div class="d-flex justify-content-center">
      <h2 class="mr-3 recipe-title"><%= @recipe.title %></h2>
     <% if customer_signed_in? %>
        <span class="mt-3" id="favorite_buttons_<%= @recipe.id %>">
          <%= render "customer/favorites/favorite", recipe: @recipe %>
        </span>
      <% end %>
  </div>
  <div class="row justify-content-between">
    <div class="col-md-3 category-font">
      <strong>カテゴリ</strong>
      <% if @category_child == nil %><!--1個上が空-->
        <p><%= @category_grandchild.name %></p>
      <% elsif @category_grandchild.parent.parent == nil %><!--2個上が空-->
        <p><%= @category_child.name %> > <%= @category_grandchild.name %></p>
      <% else %>
        <p><%= @category_grandchild.parent.parent.name %> > <%= @category_child.name %> > <%= @category_grandchild.name %></p>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="text-right mt-2 recipe-moji">
        <% if @reports.exists? %>
          <span>平均評価：</span>
          <span id="star-rate-average"></span>
          <script>
            $('#star-rate-average').empty();
            $('#star-rate-average').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: <%= @average %>,
            });
          </script>
          (<%= @average %>点)
        <% else %>
          <span>平均評価：</span>
          <span id="star-rate-0"></span>
          <script>
            //$('#star-rate-0').empty();
            //$(document).on('turbolinks:load', function() {
            $('#star-rate-0').raty({
              size: 36,
              starOff: "<%= asset_path('star-off.png') %>",
              starOn: "<%= asset_path('star-on.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
               score: <%= 0 %>,
            });
           // });
          </script>
          (<%= 0 %>点)
        <% end %>
      </div>
    </div>
  </div>
  <p class="text-right mb-0 recipe-moji">(調理時間<%= @recipe.time %>)</p>
  <div class="row mb-5 mt-5 justify-content-center submit-prace">
    <div class="col-md-3">
      <%= link_to Refile.attachment_url(@recipe, :image), 'data-lightbox':"recipe" do %>
        <%= attachment_image_tag @recipe, :image, :fill, 200, 200, size: '250x250', class: "recipe-show-image rounded-start" %>
      <% end %>
    </div>
    <div class="col-md-4 ml-5">
      <div class=" border-bottom recipe-moji">
        <%= link_to my_page_path(@recipe.customer) do %>
          <%= attachment_image_tag @recipe.customer, :profile_image, fallback:"no-image-icon.jpg", class: "img-fluid rounded-circle",size: '50x50' %>
          <%= @recipe.customer.name %>
        <% end %>
      </div>
      <p class="comment-wrap recipe-moji"><%= @recipe.comment %></p>
    </div>

    <div class="col-md-3 text-center" style="height:120px; width: 50%;">
      <div class="w-60 pb-2 ml-4" >
        <%= link_to recipe_reports_path(@recipe) do %>
          <div class="bg-light text-center pt-2 pb-2 recipe-moji">みんなが作った数<%= @recipe.reports.count %>件</div>
        <% end %>
      </div>
      <div>
        <div class="btn btn-outline-warning"><%= link_to "作ったreportを書く", new_recipe_report_path(@recipe), class: "recipe-moji" %></div>
      </div>
      <div class="d-flex end">
        <% if customer_signed_in? %>
          <% if current_customer.id == @recipe.customer.id %>
            <div class="mr-2"><%= link_to "レシピ編集", edit_recipe_path(@recipe), class: "recipe-moji" %></div>
            <div><%= link_to "レシピ削除", recipe_path(@recipe), method: :delete, "data-confirm" => "レシピを削除しますか？", class: "recipe-moji" %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row border-bottom border-top pt-3 justify-content-center">
    <div class="col-md-11">
      <h4 class="midashi">材料（<%= @recipe.people %>人分）</h4>
      <table class="row table table-striped text-center mb-5">
        <tbody class="col">
          <% @materials.each do |material| %>
            <tr>
              <td class="col-md-4 text-left recipe-moji"><%= material.material_detail.name %></td>
              <td class="col-md-1 col-sm-2 text-left recipe-moji"><%= material.amount %></td>

                <td class="col-md-2 pt-1 pb-0">
                  <% if customer_signed_in? %>
                    <%= form_with model: @list, url: lists_path, local:true do |f| %>
                      <%= f.hidden_field :customer_id, :value => current_customer.id %>
                      <%= f.hidden_field :material_detail_id, :value => material.material_detail.id %>
                      <%= f.submit "買い物リストへ追加", class: "btn btn-secondary cart-moji" %>
                    <% end %>
                  <% end %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <h4 class="midashi">目安栄養素(100gあたり)</h4>
      <div class="row mb-5">
        <table class="col table text-center">
          <thead>
            <th>カロリー(kcal)</th>
            <th>糖質(g)</th>
            <th>タンパク質(g)</th>
            <th>脂質(g)</th>
            <th>食物繊維(g)</th>
            <th>塩分(g)</th>
          </thead>
          <tbody>
            <td><%= @calorie %></td>
            <td><%= @sugar.round(1) %></td>
            <td><%= @protein %></td>
            <td><%= @lipids %></td>
            <td><%= @dietary_fiber %></td>
            <td><%= @salt.round(2) %></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md">
      <h4 class="midashi">作り方</h4>
      <div id="wrap">
        <div class="txt-show">
          <% @explanations.each_with_index do |explanation, i| %>
            <div>
              <div class="row mb-6 border-bottom pb-4 pt-2">
                <div class="col-md-6">
                  <div class="rounded text-center num-bg">
                    <h4 class="recipe-moji" style="color: #fff;"><%= i.to_i + 1 %></h4><!--レシピ順の番号をとりだしてる-->
                  </div>
                  <div class="recipe-moji"><%= explanation.explanation %></div>
                </div>
                <div class="col-md-3">
                  <%= link_to Refile.attachment_url(explanation, :process_image), 'data-lightbox':"explanation" do %>
                    <%= attachment_image_tag explanation, :process_image, class: "img-fluid", id: 'imageFile_' + i.to_s %>
                  <% end %>
                </div>

                <div class="col-md-3">
                  <button class="more align-self-center recipe-moji", id="comment_<%= i.to_s %>"></button>
                  <div class="txt-hide comment_<%= i.to_s %> pl-3">
                    <div class="mb-3 border-bottom pb-4 pt-2" id="children_comments_<%= explanation.id %>">


                      <% explanation.comments.each do |comment| %>
                        <div>
                          <div><strong><%= comment.customer.name %></strong></div>
                          <div class="pl-1"><%= comment.comment %>
                            <% if comment.customer.id == current_customer.id || comment.explanation.recipe.customer.id == current_customer.id %><!--レシピ投稿者とコメント投稿者のみ削除できる-->
                              <%= link_to recipe_comments_path(recipe_id: explanation.recipe, comment_id: comment.id, explanation_id: explanation.id), method: :delete, remote: true do %>
                                 <i class="fas fa-trash-alt ml-4" style="color: red;"></i>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>

                    <% if customer_signed_in? %>
                      <%= form_with model: @comment, url: recipe_comments_path(recipe_id: explanation.recipe, explanation_id: explanation.id) do |f| %>
                        <div class="col-md-4"><%= f.text_area :comment, placeholder: "例）耳たぶくらいの固さって？", required: :true  %></div>
                        <%= f.hidden_field :customer_id, :value => current_customer.id %>
                        <%= f.hidden_field :explanation_id, :value => explanation.id %>
                        <div class="col-md-1"><%= f.submit "送信する", class: "btn btn-success" %></div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
          <div>
            <p class="date-color">投稿日：<%= @recipe.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
    </div>
  </div>

</div>



<script>
  $(function(){
  $(".more").on("click", function() {
    target_id = $(this).attr("id")
    //$(this).toggleClass("on-click");
    $("." + target_id).slideToggle(1000);
  });
});
</script>
