<div class="container">
  <div class="row" >
    <div class="col">
      <%= attachment_image_tag @recipe, :image, :fill, 200, 200 %>
    </div>
    <div class="col">
      <div claas="row">
      <table class="table">
        <thead>
          <th>料理名</th>
          <th>調理時間</th>
          <th>紹介文</th>
        </thead>
        <tbody>
          <td><%= @recipe.title %></td>
         <td><%= @recipe.time %></td>
         <td><%= @recipe.comment %></td>
       </tbody>
     </table>
     </div>
     <div class="row">
           <p>この記事は<%= @recipe.favorites.count %>人のユーザーがお気に入りです。</p>
       <% if customer_signed_in? %>
       <% if @recipe.favorited_by?(current_customer) %>
        <p>
          <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
            ♥お気に入りから外す
          <% end %>
         </p>
      <% else %>
        <p>
          <%= link_to recipe_favorites_path(@recipe), method: :post do %>
            ♡お気に入りに保存
          <% end %>
        </p>
      <% end %>
      <div><%= link_to "作ったreportを書く", new_recipe_report_path(@recipe) %></div>
      <%= link_to recipe_reports_path(@recipe) do %>
        <div>みんなが作った数　<%= @recipe.reports.count %>件</div>
      <% end %>
      <% if current_customer.id == @recipe.customer.id %>
        <%= link_to "レシピ編集", edit_recipe_path(@recipe) %>
        <%= link_to "レシピ削除", recipe_path(@recipe), method: :delete %>
      <% end %>
      <% end %>
     </div>
    </div>
        <%= link_to customer_path(@recipe.customer) do %>
    <%= @recipe.customer.name %>
    <% end %>
  </div>


<div class="row">
　材料
  <table class="table">
    <thead>
      <th>材料名</th>
      <th>分量</th>
    </thead>
    <tbody>
      <% @materials.each do |material| %>
        <tr>
          <td><%= material.name %></td>
          <td><%= material.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="row">
  <h2>作り方</h2><br>
</div>
  <div class="row">
    <% @explanations.each do |explanation| %>
    <div class="col">
      <%= attachment_image_tag explanation, :process_image, :fill, 200, 200 %>
      <%= explanation.explanation %>
    </div>
    <% end %>
</div>
</div>
