<div class="container">
  <div>
    <%= attachment_image_tag @recipe, :image, :fill, 200, 200 %>
  </div>
  <div>
    <%= @recipe.title %>
    <%= @recipe.time %>
    <%= @recipe.comment %>
    <%= link_to customer_path(@recipe.customer) do %>
    <%= @recipe.customer.name %>
    <% end %>
    <%= @explanations.each do |explanation| %>
      <%= explanation.explanation %>
    <% end %>
    <p>この記事は<%= @recipe.favorites.count %>人のユーザーがお気に入りです。</p>
    <% if customer_signed_in? %>

      <% if @recipe.favorited_by?(current_customer) %>
        <p>
          <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
            ♥お気に入りから外す
          <% end %>
         </p>
      <% else %>
        <p>
          <%= link_to recipe_favorites_path(@recipe), method: :post do %>
            ♡お気に入りに保存
          <% end %>
        </p>
      <% end %>

      <% if current_customer.id == @recipe.customer.id %>
        <%= link_to "レシピ編集", edit_recipe_path(@recipe) %>
        <%= link_to "レシピ削除", recipe_path(@recipe), method: :delete %>
      <% end %>
    <% end %>
  </div>



</div>
