<div class="container">

<h2>評価が高い順</h2>
<% @reports.each do |report| %>
  <div class="row mb-3">
    <div class="col-md-3">
      <%= attachment_image_tag report.recipe, :image, fallback:"no_bg_image.jpg", class: "img-fluid recipe-img" %>
    </div>
    <div class="col-md-3">
      <%= link_to recipe_path(report.recipe) do %>
        <%= report.recipe.title %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= report.recipe.comment %>
    </div>
    <div class="col-md-3">
      <%= report.evaluation_avg.round(1) %>
      <span id="star-rate-average_<%= report.recipe.id %>"></span>
    </div>

  </div>
        <script>
          $('#star-rate-average_<%= report.recipe.id %>').empty();
          $('#star-rate-average_<%= report.recipe.id %>').raty({
            size: 36,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: <%= report.evaluation_avg.round(1) %>,
          });
        </script>
<% end %>


<h2>レシピ一覧</h2>
<div class="row">
  <div class="col-md-3">
    <% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe) do %>
    <div><%= attachment_image_tag recipe, :image, :fill, 200, 200, fallback:"no_bg_image.jpg"%></div>
    <div><%= recipe.title %></div>
  <% end %>
<% end %>

  </div>

</div>

</div>