<div class="row">
  <% customers.each do |customer| %>
    <div class="col-md-3 mb-5">
      <%= link_to my_page_path(customer) do %>
        <div class="text-center">
          <div class="title-font-color"  style="font-size: 30px;">
            <strong><%= customer.name.truncate(14) %></strong>
            <%= attachment_image_tag  customer, :profile_image, fallback:"no-image-icon.jpg", class: "customer-img-lg img-fluid rounded-circle center-img" %>
          </div>
        </div>
      <% end %>
      <% if customer.profile != nil %>
        <%= customer.profile.truncate(30) %>
      <% else %>
        <%= customer.profile %>
      <% end %>
      <% if current_customer.id != customer.id %>
        <div class="text-center" id="follow_buttons_<%= customer.id %>">
            <%= render "customer/relationships/following", customer: customer %>
         </div>
      <% end %>


    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= paginate customers, theme: 'twitter-bootstrap-4' %>
    </div>
</div>
