
<table class="table">
  <thead>
    <th>image</th>
    <th>name</th>
    <th>profile</th>
    <th></th>
  </thead>
  <tbody>
    <% customers.each do |customer| %>
    <tr>
      <td><%= attachment_image_tag customer, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg" %></td>
      <%= link_to customer_path(customer) do %>
        <td><%= customer.name %></td>
      <% end %>
      <td><%= customer.profile %></td>
      <td>
        <% if current_customer.id != customer.id %>
          <div id="follow_buttons_<%= customer.id %>">
            <%= render "customer/relationships/following", customer: customer %>
          </div>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
