<div class="container">
  <ul>
  <div class="row">
    <% @reports.each do |report| %>
    <ul><%= link_to my_page_path(report.customer) do %>
        <%= attachment_image_tag report.customer, :profile_image, :fill, 200, 200, fallback:"no-image-icon.jpg" %>
        <%= report.customer.name %></ul>
    <% end %>
    <spam><%= report.created_at %></spam>
      <figure><%= attachment_image_tag report, :image, :fill, 200, 200 %></figure>
      <%= report.impression %>
      <div class="relative-post-evaluation">
        <span>評価：</span>
        <span id="star-rate-<%= report.id %>"></span>
        <script>
          $('#star-rate-<%= report.id %>').raty({
            size: 36,
            starOff: "<%= asset_path('star-off.png') %>",
            starOn: "<%= asset_path('star-on.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            half: true,
            readOnly: true,
            score: <%= report.evaluation %>,
          });
        </script>
        <%= report.evaluation %>
      </div>
    <% end %>
  </div>
  </ul>
  <div class="row">
    <%= link_to "レシピに戻る", recipe_path(@recipe) %>
  </div>
</div>





