<div class="container">
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5 align-self-center">
      <h5 class="text-dark bg-light py-4 mb-0">つくったレポート</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
          <p>写真と評価<br>メッセージを入力してください。</p>
        </div>
       <%= form_with model:[@recipe, @report], local:true do |f| %>
          <div class="input-group mb-3">
              <div class="input-group-prepend"></div>
               <%= f.attachment_field :image, class: 'report_img_field', style: 'display:none;' %>
               <%= attachment_image_tag @report, :image, fallback: 'noimage.png', onClick: "$('.report_img_field').click()", class: 'center-block img-thumbnail img-responsive report_img_prev' %>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <%= f.text_area :impression,class:"form-control", id:"inputImpression", placeholder:"メッセージ"%>
          </div>
          <div class="input-group mb-3", id="star">
            <div class="input-group-prepend"></div>
          </div>
          <%= f.hidden_field :customer_id, :value => current_customer.id %>
          <%= f.hidden_field :recipe_id, :value => @recipe.id %>
          <%= f.submit "投稿", class:"btn btn-block btn-info mt-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>







  <!-- 評価javascript -->
  <script>
  $('#star').empty();
  $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'report[evaluation]',
    half: true,
  });
  </script>