<div class="container">
  <div class="row">
    <div class="col">
      <div>
        <%= form_with model: @category,url: new_admin_category_path, local:true do |f| %>
          <%= f.label :name, "祖父カテゴリ", class: "d-flex justify-content-start" %>
          <%= f.collection_select :name, placeholder:"30分", style:"width: 20%;", class: "form-control mb-3" %>


          <%= f.label :name, "親カテゴリ", class: "d-flex justify-content-start" %>
          <%= f.text_field :name, placeholder:"30分", style:"width: 20%;", class: "form-control mb-3" %>
          <%= f.label :name, "子カテゴリ", class: "d-flex justify-content-start" %>
          <%= f.text_field :name, placeholder:"30分", style:"width: 20%;", class: "form-control mb-3" %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>

