<div class="container">
<h2>栄養表示(100gあたり)</h2>
<%= link_to "材料追加", new_admin_material_detail_path %>
<table class="table">
  <thead>
    <th>材料名</th>
    <th>カロリー(kcal)</th>
    <th>炭水化物(g)</th>
    <th>糖質(g)</th>
    <th>食物繊維(g)</th>
    <th>タンパク質(g)</th>
    <th>脂質(g)</th>
    <th>塩分(g)</th>
  </thead>
  <tbody>
    <% @materials.each do |material| %>
    <tr>
      <td><%= material.name %></td>
      <td><%= material.calorie %></td>
      <td><%= (material.sugar.to_i + material.dietary_fiber.to_i).round(1) %></td>
      <td><%= material.sugar %></td>
      <td><%= material.dietary_fiber %></td>
      <td><%= material.protein %></td>
      <td><%= material.lipids  %></td>
      <td><%= material.salt %></td>
      <td><%= link_to "編集する", edit_admin_material_detail_path(material) %></td>
      <td><%= link_to "削除する", admin_material_detail_path(material), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
