<!DOCTYPE html>
<html>
  <head>
    <title>BeginnerSCook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "LOGO", root_path %>
      <% if customer_signed_in? %>
        <%= link_to "マイページ", my_page_path(current_customer)%>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete%>
        <%= link_to "レシピ投稿", new_recipe_path %>
        <%= link_to "お気に入り一覧", favorites_path %>
      <% elsif admin_signed_in? %>
        <%= link_to "栄養素表示", admin_material_details_path %>
        <%= link_to "ユーザ一覧", admin_customers_path %>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-sm btn-outline-secondary" %>
      <% else %>
        <%= link_to "ログイン", new_customer_session_path %>
        <%= link_to "新規登録", new_customer_registration_path %>
      <% end %>

    </header>
    <%= yield %>
  </body>
</html>
